.contact-page {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding: 120px 140px;
  background: #f3efea;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../../assets/images/imgs/bgImage.svg");
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media only screen and (max-width: 1200px) {
    & {
      padding: 60px 70px;
      align-items: center;
    }
  }
  @media only screen and (max-width: 768px) {
    & {
      padding: 30px 40px;
      align-items: center;
    }
  }

  .contact-container {
    height: 452px;
    background: url("../../assets/images/imgs/contactBgImage.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 20px;

    .title {
      max-width: 595px;
      width: 100%;

      h2 {
        font-family: "Healing Again Demo";
        font-size: 35px;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        opacity: 1;
        text-align: center;

        @media screen and (max-width: 992px) {
          & {
            font-size: 25px;
            line-height: 45px;
          }
        }
      }

      @media only screen and (max-width: 767px) {
        font-size: 25px;
      }
    }
    .subscribe_box {
      max-width: 495px;
      width: 100%;
    }
  }
}
